/* ------ Global ------ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Merriweather Sans';
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

  body {
    background-color: var(--body-bg-color); 
    padding: 4rem 4rem 2rem 4rem;
  }

  .container {
    display: flex;
    gap: 6rem;

  }
  
  main {
    height: 100%;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;

        color: var(--text-color);
    }

    aside h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;

        padding-top: 3rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }


  /*  -------- aside ---------*/
  
    aside {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex-basis: 34.8rem;
    }
      
    .profile {
        height: 29.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--bg-cards);
        color: var(--text-color);

        border-radius: 7%;

        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .profile p {
        font-size: 1.3rem;
        padding-bottom: 4.9rem;
    }

    .profile h1 {
        font-size: 2.3rem;
        line-height: 2.9rem;
        font-weight: bold;

        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    #circulo {
        width:12.8rem;
        height: 12.8rem;
        border-radius: 50%;
        border: 0.3rem solid rgba(0, 255, 0, 1);
        position: absolute;
        top: 7.2rem;
    }

    .profile img {
        margin-top: 3.2rem;
        width: 12.8rem;
        height: 12.8rem;
        border-radius: 50%;
        
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        background-color: var(--bg-cards);
        color: var(--text-color);

        border-radius: 7%;

        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        
    }

    .links a:nth-child(1) {
        padding-top: 3.1rem;
    }

    .links a:nth-child(7){
        padding-bottom: 3rem;
    }

    .links a {
        display: flex;
        align-items: center;
        gap: 2rem;
        text-decoration: none;
        color: var(--text-color);
        padding-left: 4.3rem;

        font-size: 1.2rem;
        font-weight: 500;
    }

    .links a p {
        color: var(--text-color);
            font-size: 1.2rem;
            font-weight: 500;
    }

    .techs {
        background-color: var(--bg-cards);
        color: var(--text-color);

        border-radius: 7%;

        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    

    .cont-techs {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        padding-bottom: 3rem;

        text-transform: uppercase;
        
        }
        
        .cont-techs p {
            width: 8.6rem;
            height: 2.4rem;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.3rem;

            color: black;
            background-color: var(--bg-techs);
            border-radius: 3rem;


            display: flex;
            justify-content: center;
            align-items: center;
        }

        .experience {

            height: 34.9rem;
            background-color: var(--bg-cards);

            border-radius: 7%;

            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }

        .experience h2 {
            margin-bottom: 2rem;
        }

        .experience li {

            color: var(--text-color);
            font-size: 1.2rem;
            margin-left: 6rem;
            padding-bottom: 3rem;
        }

        .education {

            height: 34.9rem;
            background-color: var(--bg-cards);
            border-radius: 7%;

            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }

        .education li  {
            color: var(--text-color);
            margin-left: 6rem;
            padding-bottom: 3rem;
            font-size: 1.2rem;
        }

        .education h2 {
            margin-bottom: 2rem;
        }
        
        .education h4 {
            font-size: 1.2rem;
            
        }

        .education p {
            font-size: 1rem;
            
        }
    
   /* --------- MAIN ---------- */ 

    main {
        flex: 1;
    }

    .my-projects {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        background-color: var(--bg-cards);
        border-radius: 30px;

        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    }

    .my-projects h2 {
        padding: 3rem;
    }

    .my-projects p {
        color: var(--text-color);
        font-size: 1.4rem;
        font-weight: 400;
        padding: 3.4rem 3rem;

    }

    .projects-main {

        display: flex;
        gap: 3rem;
        color: var(--text-color);
        margin-top: 3.1rem;
        height: 18.6rem;
        justify-content: space-between;
    }

    .projects-main h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px
    }

    .projects-main p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 3rem;
    }

    .project-1 {
        background-color: var(--bg-cards);
        border-radius: 20px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        flex-grow: 1;
    }

    .subtitle {
        display: flex;
        gap: 1.76rem;
        align-items: center;
        margin-top: 3.25rem;
        margin-left: 3.16rem;
        padding-bottom: 2.2rem;
    }
    .details {
        display: flex;
        gap: 18.1rem;
        align-items: center;
        margin-left: 3rem;
        margin-bottom: 3rem;
        margin-top: 4.7rem;
    }

    .details div {
        display: flex;
        align-items: center;
    }

    .details div p {
        padding: 0.8rem;
    }
    
   


    .project-2 {
        background-color: var(--bg-cards);
        border-radius: 20px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        flex-grow: 1;
    }

    .recent-post {
        background-color: var(--bg-cards);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 2rem;

        height: 8.6rem;
        padding: 3rem;
        margin-block: 3rem;
    }

    .post {
        background-color: var(--bg-cards);
        color: var(--text-color);
        border-radius: 2rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        

        display: flex;
        gap: 2rem
    }

    .post img {
        width: 12.8rem;
        height: 12.8rem;
        border-radius: 50%;

        margin: 3.1rem 0 4.2rem 3rem
    }

    .subtitle2 h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;


    margin: 3rem 0 0.8rem 0;
    }

    .subtitle2 p {
        padding-bottom: 2.8rem;
    }

    .hashs {
        display: flex;
        gap: 1rem;
        margin-top: 1.1rem;
    }

    .hashs p, .subtitle2 p, .subtitle2 span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    }

    /* ------ FOOTER --------- */
    
    footer {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        
    }

    footer p {
        font-size: 1.6rem;
        line-height: 2rem;
        color: var(--text-color);
        text-align: center;
    }